<!doctype html>
<html lang="en" ng-app="myApp">
	<head>
		<meta charset="utf-8">
		<title>EPCIS Events Test Data Generator</title>
		<link rel="icon" href="images/logo.jpg">

		<!-- jQuery CDN starts -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

		<!-- jQuery CDN Ends -->

		<!-- Bootstrap Themes Start -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<!-- Bootstrap Themes End -->

		<!-- Font Awesome CDN Starts-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<!--My CSS Files Starts-->
		<link rel="stylesheet" type="text/css" href="./styles/styles.css">
		<!--My CSS Files Ends-->

		<!-- Angularjs CDN Starts -->
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>
		<!-- Angularjs CDN Ends -->
		
		<!-- Go JS CDN STARTS-->
		<script src="https://unpkg.com/gojs/release/go-debug.js"></script>
		<!-- GO JS CDN ENDS-->

		<!-- My Javascript Files Starts-->
		<script src="./js/app.js"></script>
		<script src="./js/homeScript.js"></script>
		<script src="./js/form-modifier.js"></script>
		<script src="./js/TemplatesController.js"></script>
		<script src="./js/CopyToClipboard.js"></script>
		<!-- My Javascript file Ends-->

		<!-- Alertify CDN Starts -->
		<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/alertify.min.css"/>
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/default.min.css"/>
		<!-- Alertify CDN Ends -->

		<!-- Format the Text Area-->

	</head>
	<body  ng-controller="TemplatesController" ng-init="init()">
		<nav class="navbar navbar-inverse" style="background-color: #082c6c">
			<a class="navbar-brand" href="#" style="color:#ffffff">Test Data Generator for EPCIS events</a>
		</nav>
		<br/>
		<div class="container-fluid">
			<div class="row">
				<div>
					<button class="btn btn-info pull-left"><a href="index.html" style="color:#ffffff">Home</a></button>
				</div>
			</div><br/>
			<div class="row">
				<div class="col-sm-2">
					<button class="btn-btn success" ng-click="UploadFIle();">Create Events</button>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<h5>Test Events in XML :</h5>
					<textarea stryle="height: 400px;" class="form-control" id="xmldata" ng-model="xmldata"></textarea>
				</div>
				<div class="col-md-2">
					<br/><br/><br/><br/><br/><br/><br/><br/><br/>
					<button ng-click="copytoclipboard('XML')" class="btn btn-default">Copy XML</button>
				</div>
			</div>		
			
			<div class="row">
				<div class="col-md-4">
					<div class="custom-file">
						<input type="file" onchange="angular.element(this).scope().uploadFilePath(event)" fileUploader="uploadFile" class="custom-file-input"></input>
						<label class="custom-file-label" for="inputGroupFile01">{{ FileName }}</label>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>